/.env
/__pycache__/
/.idea
/.vscode
scripts/__pycache__
google colab
data/arxiv-metadata-oai-snapshot.json
embeddings/1000000
embeddings/100000
embeddings/filter
embeddings/filterv2
/scripts/pdfs
/scripts/pdf_chunks
/data/SPIQA
/data/SPIQA_testA_Images
/scripts/user_upload/
/scripts/upload_file_chunks/