/.env
/__pycache__/
/.idea
/.vscode
.DS_Store
scripts/__pycache__
data/arxiv-metadata-oai-snapshot.json
/data/SPIQA
/data/SPIQA_testA_Images
embeddings/1000000/abstracts.npy
# Note: faiss_index.index and meta.json are tracked in Git for deployment
embeddings/filter
embeddings/filterv2
/scripts/pdfs
/scripts/pdf_chunks
/scripts/user_upload/
/scripts/upload_file_chunks/