scripts/evaluation/multimodal/** filter=lfs diff=lfs merge=lfs -text
scripts/evaluation/multimodal_CoT/** filter=lfs diff=lfs merge=lfs -text
scripts/evaluation/text-only-eval/** filter=lfs diff=lfs merge=lfs -text
data/filter/** filter=lfs diff=lfs merge=lfs -text
