/.env
/__pycache__/
/.idea
/.vscode
.DS_Store
scripts/__pycache__
/data/SPIQA
/data/SPIQA_testA_Images
embeddings/*
data/filter/**
scripts/evaluation/multimodal/**
scripts/evaluation/multimodal_CoT/**
scripts/evaluation/text-only-eval/**

/scripts/pdfs
/scripts/pdf_chunks
/scripts/user_upload/
/scripts/upload_file_chunks/
.venv/
AWS/__pycache__
embeddings/arxiv-metadata-oai-snapshot.json